<div class="site-menu">

        <a class="menu-item" href="#rsvp">
            <div class="menu-icon"></div>
            <div class="menu-label">RSVP</div>
        </a>





        <a class="menu-item" href="#logistics">
            <div class="menu-icon"></div>
            <div class="menu-label">Logistics</div>
        </a>

        <a class="menu-item" href="#registry">
            <div class="menu-icon"></div>
            <div class="menu-label">Registry</div>
        </a>

        <a class="menu-item" href="#about">
            <div class="menu-icon"></div>
            <div class="menu-label">About</div>
        </a>

</div>
