//Custom Styles
//Use this sheet to add your custom touches to the core scss. Brand colors are listed below:
//$brand_lt_blue
//$brand_dk_blue
//$brand_white
//$brand_red
//$brand_yellow
//$brand_gray

//Theme Colors
//Use the brand colors for your theme colors
//Body and Heading text Colors
$theme_body: $brand_black;
$theme_body_link: $brand_black;
$theme_body_link_hover: $brand_black;
$theme_heading: $brand_black;
//Footer Colors
$theme_footer_bg: $brand_black;
$theme_footer_txt: $brand_white;
$copyright_link: $brand_white;
$copyright_link_hover: $brand_white;
//Header Colors
$theme_header_bg: $brand_black;
$theme_header_txt: $brand_white;
//Button Colors
$theme_button_bg: $brand_black;
$theme_button_txt: $brand_white;
$hover_button_bg: $brand_white;
$hover_button_txt: $brand_black;
//BSD Form Colors
$theme_form_bg: $brand_gray;
$theme_form_txt: $brand_black;
$theme_form_btn_bg: $brand_dk_blue;
$theme_form_btn_txt: $brand_white;
//Mobile Breakpoints
$size-large: 1024px;
$size-medium: 768px;
$size-small: 568px;
//Padding for Sections and Grids
$gutter-padding: 0.5em 1em;
$header-padding: 0.5em;
$body-padding: 1em 3em;
$body-padding-mobile: 1em;
$footer-padding: 1em;
$transition_type: all .7s ease;
//Mixins
@import "mixins";
@include gridGutters($gutter-padding);
@include headerPadding($header-padding);
@include bodyPadding($body-padding);
@include footerPadding($footer-padding);
//Start Theme Customizations below:
* {
    @include border-box;
}
$header_width: 10em;
.pure-button {
    border: 3px solid $brand_black;
}
a {
    &:hover {
        &:not(.pure-button){
            text-decoration: underline;
        }
    }
}
@include headings(){
    text-transform: uppercase;
}
#header {
    width: 100%;
    text-align: center;
    height: 500px;
    background-image: url(../min_images/wedding-invite.jpg);
    background-attachment: fixed;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    .invite-img {
        display: inline-block;
        img {
            width: 100%;
            height: auto;
        }
    }
}

#main {

    .panel {
        @include headings(){
            margin-top: 0;
        };
        position: relative;
        padding: 1em 1em 1em 3em;
        .panel-overlay {
            position: absolute;
            height: 100%;
            width: 100%;
            transform: translateX(0);
            -webkit-transform: translateX(0);
            -moz-transform: translateX(0);
            -ms-transform: translateX(0);
            top: 0;
            left: 0;
            @include transition;
            color: $brand_white;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            padding: 1em;
            opacity: 1;

            &:hover {
                cursor: pointer;

            }
            &.active {
                transform: translateX(calc(-100% + 2em));
                -webkit-transform: translateX(calc(-100% + 2em));
                -moz-transform: translateX(calc(-100% + 2em));
                -ms-transform: translateX(calc(-100% + 2em));
                .panel-toggle {
                    transform: rotate(180deg) translateY(-50%);
                    -webkit-transform: rotate(180deg) translateY(-50%);
                    -moz-transform: rotate(180deg) translateY(-50%);
                    -ms-transform: rotate(180deg) translateY(-50%);
                }
            }
            .panel-toggle {
                position: absolute;
                right: 0.5em;
                top: 50%;
                font-size: 2em;
                transform-origin: center;
                -webkit-transform-origin: center;
                -moz-transform-origin: center;
                -ms-transform-origin: center;
                transform: rotate(0) translateY(-50%);
                -webkit-transform: rotate(0) translateY(-50%);
                -moz-transform: rotate(0) translateY(-50%);
                -ms-transform: rotate(0) translateY(-50%);
                @include transition;
            }
        }
    }

}
