<!DOCTYPE html>
<html>

<head>
    <!-- %APP_VERSION% -->
    <meta charset="utf-8">
    {% if page.url == "/error.html" %}
    <meta http-equiv="refresh" content="3; url=/">
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Title and Meta Text -->
    <title>{{ site.title }}</title>
    <meta content="{{ site.description }}" name="description">
    <!-- Facebook Meta -->
    <meta property="og:url" content="{{ site.url }}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ site.title }}">
    <meta property="og:description" content="{{ site.description }}">
    <meta property="og:image" content="{{ site.meta_img }}">
    <!-- Twitter Meta -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@TheDemocrats">
    <meta name="twitter:creator" content="@TheDemocrats">
    <meta name="twitter:title" content="{{ site.title }}">
    <meta name="twitter:description" content="{{ site.description }}">
    <meta name="twitter:image" content="{{ site.meta_img }}">
    <!-- Pure CSS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/grids-responsive-min.css">
    <!-- CSS -->
    {% include base.html %}
    <link href="{{ base }}/css/style.css" rel="stylesheet" type="text/css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Favicon -->
    <link rel="icon" href="https://s3.amazonaws.com/frontend-assets.dnc.org/images/D-circle-logo-favicon.png">
    <!-- Jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <!-- Twitter Popup -->
    <script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
</head>

<body>
    <div id="wrapper">
        <div id="header">
            <div class="site-menu">

                    <a class="menu-item" href="#rsvp">
                        <div class="menu-icon"></div>
                        <div class="menu-label">RSVP</div>
                    </a>





                    <a class="menu-item" href="#logistics">
                        <div class="menu-icon"></div>
                        <div class="menu-label">Logistics</div>
                    </a>

                    <a class="menu-item" href="#registry">
                        <div class="menu-icon"></div>
                        <div class="menu-label">Registry</div>
                    </a>

                    <a class="menu-item" href="#about">
                        <div class="menu-icon"></div>
                        <div class="menu-label">About</div>
                    </a>

            </div>
        </div>
        <div id="main">
            <div class="site-section active" id="rsvp">
                <div class="section-inner">
                    <h1>RSVP</h1>
                    {% include form.html %}
                </div>
            </div>
            <div class="site-section" id="logistics">
                <h1>Logistics</h1>
            </div>
            <div class="site-section" id="registry">
                <h1>Registry</h1>
            </div>
            <div class="site-section" id="about">
                <h1>About</h1>
            </div>
        </div>
    </div>
    <div id="footer">

    </div>
    <!-- Scripts -->
    <script src="{{ base }}/theme_functions.js"></script>
</body>
