<!DOCTYPE html>
<html>

<head>
    <!-- %APP_VERSION% -->
    <meta charset="utf-8">
    {% if page.url == "/error.html" %}
    <meta http-equiv="refresh" content="3; url=/">
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Title and Meta Text -->
    <title>{{ site.title }}</title>
    <meta content="{{ site.description }}" name="description">
    <!-- Facebook Meta -->
    <meta property="og:url" content="{{ site.url }}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ site.title }}">
    <meta property="og:description" content="{{ site.description }}">
    <meta property="og:image" content="{{ site.meta_img }}">
    <!-- Twitter Meta -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@TheDemocrats">
    <meta name="twitter:creator" content="@TheDemocrats">
    <meta name="twitter:title" content="{{ site.title }}">
    <meta name="twitter:description" content="{{ site.description }}">
    <meta name="twitter:image" content="{{ site.meta_img }}">
    <!-- Pure CSS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/grids-responsive-min.css">
    <!-- CSS -->
    {% include base.html %}
    <link href="{{ base }}/css/style.css" rel="stylesheet" type="text/css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,700|Roboto+Slab:400,700" rel="stylesheet">
    <!-- Favicon -->

    <!-- Jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <!-- Twitter Popup -->
    <script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
</head>

<body>
    <div id="wrapper">
        <div id="header"></div>
        <div id="main">
            {% assign sortedPanels = site.panels | sort: 'order' %}
            {% for panel in sortedPanels %}
            <div class="panel">
                <div class="panel-overlay" data-bg-hover="background-image: linear-gradient(to right, rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url({{ panel.bg-image }})" style="background-image: linear-gradient(to right, rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url({{ panel.bg-image }})">
                    <h1>{{ panel.title }}</h1>
                    <div class="panel-toggle"><i class="fa fa-angle-left"></i></div>
                </div>
                <div class="panel-content">
                    {{ panel.content }}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div id="footer">
        <div class="contact-box">
            Contact: <a href="mailto:cupaiolisanders@gmail.com">cupaiolisanders@gmail.com</a>
        </div>
    </div>
    <!-- Scripts -->
    <script src="{{ base }}/theme_functions.js"></script>
</body>
